﻿@model IList<Artigo>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
<div>
    <h1 class="display-4"><a asp-controller="Home" asp-action="Artigo" asp-route-id="@item.Id">@item.Titulo</a></h1>
    <p>@item.CriadoEm</p>
    <p>@item.Conteudo</p>
</div>
}

